@using WebApp.Data
@model MySettings
@{
    ViewData["Title"] = "Опросы";
}

<div class="text-center">
    <h1 class="display-4">Страница опросов</h1>

    <p>Документация о <a href="https://learn.microsoft.com/aspnet/core">ASP.NET Core</a> на сайте Microsoft.</p>
    <br />
    <h5>Данные из appsettings.json:</h5>
    <p>value1: @Model.Value1</p>
    <p>value2: @Model.Value2</p>
    <p>value3: @Model.Value3</p>
</div>
